<a href="<%= item.link %>">
    <div class="persoo-autocomplete-shops-content-wrapper">
        <span class="persoo-autocomplete-shops-title">
            <%= item.title ? highlightQuery(item.title) : '' %>
        </span>
        <span class="persoo-autocomplete-shops-time">
            Dnes otevřeno do 18:00
        </span>
    </div>
</a>